.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: black;
}
.panel {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}
.panel:hover {
    box-shadow: inset 0px 0px 0px 3px silver;
    box-sizing: border-box;
}
.left-bottom-panel {
    border-bottom-left-radius: 200px;
     background-color: yellow;
}
.right-bottom-panel {
    border-bottom-right-radius: 200px;
    background-color: green;
}
.left-top-panel {
    border-top-left-radius: 200px;
    background-color: red;
}
.right-top-panel {
    border-top-right-radius: 200px;
    background-color: blue;
}
.active {
    background-color: white;
}

.start-button {
     display: inline-block; 
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
    margin: -75px 84px 0px 104px;
    top: 250px;
    text-align: center;
    color: white; 
}
.simon {
    margin-top: 50px;
    font-size: 30px;
}
.start {
    margin: 15px 0px -37px 74px;
    width: 50px;
   
}
.level {
    width: 60px;
    height: 30px;
}
.turn {
    margin-top: 6px;
    width: 80px;
}




