.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: black;
}
.panel {
    width: 200px;
    height: 200px;
    display: inline-block;
}
.left-bottom-panel {
    border-bottom-left-radius: 200px;
     background-color: yellow;
}
.right-bottom-panel {
    border-bottom-right-radius: 200px;
    background-color: green;
}
.left-top-panel {
    border-top-left-radius: 200px;
    background-color: red;
}
.right-top-panel {
    border-top-right-radius: 200px;
    background-color: blue;
}
.start-button {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 100%;
    margin: -14px 64px 0 163px;
    top: 250px;
}





